@media screen and (min-width:20em) {

    body {
        font-family: 'din';
        font-variant: small-caps;
        font-size: 1em;
        background-color: white;
    }

    .body-transitie {
        background-color: black;
        transition: 2s all ease-in-out;
    }

    /* Styling van de label */
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 2em 2em;
        margin: -1em -1em 1em;
        background-color: #161616;
    }

    .form-label {
        transition: all 1s;
        padding-top: 1em;
        color: white;
        text-align: center;
        font-family: 1em;
        padding-bottom: 0em;
        color: white;
        font-size: 1.2em;
    }

    .form-text {
        transition: all 1s;
        color: white;
        text-align: center;
        font-family: 1em;
        margin: 0em 2em;
        padding: 1em;
        background-color: #565656;
        border-color: #282828;
        border-radius: 40px;
    }

    .form-text:focus {
        transition: all 0.3s;
        background: #E8E8E8;
        color: black;
        text-transform: uppercase;
    }

    /* tekst van de label */
    .keyboard-text {
        position: absolute;
        opacity: 0%;
    }

    /* styling van de tekst boven de label */
    .each {
        animation: color-label 10s ease;
    }

    @keyframes color-label {
        0% {
            color: red;
        }

        50% {
            color: red;
        }

        100% {
            color: white;
        }
    }

    /*Styling van alle buttons*/
    /*De "all color" button*/


    /* alle kleur toggle */
    .slider.roundall {
        border-radius: 34px;
        background-color: #2B2B2B;
    }

    .slider.roundall:before {
        border-radius: 50%;
        animation: pulse 3s infinite;
    }

    @keyframes pulse {
        0% {
            background-color: greenyellow;
        }

        20% {
            background-color: aqua;
        }

        40% {
            background-color: red;
        }

        60% {
            background-color: yellow;
        }

        80% {
            background-color: orangered;
        }

        100% {
            background-color: darkseagreen;
        }
    }

    .allekleur {
        transition: transform 5s;
        animation: alles 8s ease-in-out;
    }

    @keyframes alles {

        0% {
            background-color: black;
        }

        10% {
            background-color: skyblue;
        }

        20% {
            background-color: aqua;
        }

        30% {
            background-color: lightblue;
        }

        40% {
            background-color: lightgreen;
        }

        50% {
            background-color: greenyellow;
        }

        60% {
            background-color: yellow;
        }

        70% {
            background-color: orange;
        }

        80% {
            background-color: coral;
        }

        90% {
            background-color: red;
        }

        100% {
            background-color: black;
        }
    }


    /* Styling van alle buttons */
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1em;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0em
    }


    .switch {
        transition: all 5s;
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .slider {
        transition: all 5s;
        position: absolute;
        cursor: pointer;
        height: 30px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        -webkit-transition: all 4s ease;
        transition: all 5s;
        border-radius: 60px;
    }

    .slider:before {
        transition: all 5s;
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 8px;
        bottom: 6px;
        background-color: white;
        -webkit-transition: all 4s ease;
        transition: all .4s;
    }

    input:checked + .slider {
        transition: all 5s ease;
        background-color: #2B2B2B;
        filter: drop-shadow(0 0 0.1rem grey);
        padding-left: 2em;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /*Witte button, gelinkt met js voor de body */
    .dark-mode {
        background-color: white;
        color: white;
        transition: 5s all ease;
        border-radius: 50px;
    }

    /* Witte button */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    /* Groene button */
    .slider.roundgreen {
        border-radius: 34px;
        background-color: black;
    }

    .slider.roundgreen:before {
        border-radius: 50%;
        background-color: greenyellow;
    }

    .green-verloop {
        background-color: darkseagreen;
        transition: 2s all ease-in-out
    }

    /* blauwe button */
    .slider.roundblue {
        transition: all 5s;
        border-radius: 34px;
        background-color: black;
    }

    .slider.roundblue:before {
        border-radius: 50%;
        background-color: deepskyblue;
    }

    .blue-verloop {
        background-color: aqua;
        transition: 2s all ease-in-out
    }

    /* rode button */
    .slider.roundred {
        border-radius: 34px;
        background-color: black;
    }

    .slider.roundred:before {
        border-radius: 50%;
        background-color: orangered;
    }

    /* rode knop, class voor js*/
    .verloop {
        background-color: darkred;
        transition: 2s all ease-in-out
    }

    p {
        font-family: 'helvetica';
        margin: 0em;
        margin-top: 1em;
        padding: 0em;
        color: #212121;
        text-transform: uppercase;
        font-weight: 900;
        transition: all 0.5s;
    }

    section {
        display: flex;
        justify-content: center;
        position: absolute;
        margin: auto;
        opacity: 80%;
        margin-left: 2em;
    }

    section p:hover {
        transition: 2s ease;
        filter: drop-shadow(16px 16px 20px red) invert(75%);
        clip-path: circle(50%);
    }

    /* Styling van de hoofd-letters */
    article {
        font-size: 5em;
        animation: spin20em 2s ease;
        margin-top: 1em;
    }

    @keyframes spin20em {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    .section-02 p {
        position: relative;
        padding-top: 1em;
        color: #212121;
        opacity: 80%;
        padding-bottom: -10em;
    }

    .section-02:hover {
        transition: 0.1s;
        text-shadow: 2px 2px 5px grey;
        cursor: pointer;
    }

    /*Elk letter maakt een ander beweging*/
    .l-letter:hover,
    .i-letter:hover,
    .g-letter:hover,
    .h-letter:hover,
    .t-letter:hover {
        text-shadow: 2px 2px 50px white;
        opacity: 50%;
        cursor: pointer;
    }

    /* Beweging: Coyier, C. (2020, 30 april). Animation. Geraadpleegd op 18 mei 2020, van https://css-tricks.com/almanac/properties/a/animation/*/

    .l-letter,
    .g-letter,
    .t-letter {
        -webkit-animation: move 1s infinite alternate;
        animation: move 1s infinite alternate;
    }

    .e-letter,
    .r-letter {
        -webkit-animation: move 1.2s infinite alternate;
        animation: move 0.8s infinite alternate;
    }

    .y-letter,
    .a-letter,
    .s-letter {
        -webkit-animation: move 1.5s infinite alternate;
        animation: move 0.5s infinite alternate;
    }

    .i-letter,
    .h-letter {
        -webkit-animation: move 2.5s infinite alternate;
        animation: move 1.5s infinite alternate;
    }

    @-webkit-keyframes move {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100px);
        }
    }

    @keyframes move {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100px);
        }
    }

    /* Verbonden met js voor keyboard */
    .up,
    .down {
        transition: all 2s ease;
        text-shadow: 2px 2px 10px white;
        animation: blur 2s ease, rotate 2s ease, stretch 1s ease;
        /* spin 5s ease;*/
    }

    @keyframes blur {
        0% {
            filter: blur(0px);
        }

        50% {
            filter: blur(10px);
        }

        100% {
            filter: blur(0px);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes stretch {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(2, 2);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    .alinea {
        text-transform: lowercase;
        font-weight: 600;
        position: absolute;
        font-variant: small-caps;
        font-weight: 900;
        font-size: 1em;
        text-align: left;
        padding-left: 1em;
        padding-right: 2em;
        margin-top: 25em;

        /*
        background-blend-mode: difference;
        */

    }

    .alinea:hover {
        cursor: pointer;
        transition: all 4s ease;
        color: white;
        animation: color03 10s infinite;
    }

    @keyframes color03 {

        0% {
            color: white;
        }

        25% {
            color: darkseagreen;
        }

        50% {
            color: skyblue;
        }

        75% {
            color: palevioletred;
        }

        100% {
            color: white;
        }
    }

    /* Writing-mode: Rendle, R. (2016, 14 augustus). Writing-mode. Geraadpleegd op 22 mei 2020, van https://css-tricks.com/almanac/properties/w/writing-mode/ */
    .logo {
        position: absolute;
        writing-mode: vertical-lr;
        font-size: 1em;
        height: 200px;
        width: 100px;
    }
}



    /* Experiment: Background voor de mask */
    /* Er kan ook eventueel gebruik gemaakt worden van een img in de background */

    /*

    .masking {
        cursor: pointer;
        background-color: bisque;
        background-position: 0 50%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
    }

    */

    /* Variaties in de mask */

    /*
    .mask-l-letter {
        color: transparent;
        background-position: 0 25%;
        text-shadow: 0 0 15px rgba(221, 221, 221, 0.2);
        transition: text-shadow 0.35s linear ease;
    } */

/*
    .mask-l-letter:hover {
        text-shadow: 0 0 10px #ddd;
    }

    */

@media screen and (min-width: 30em) {

    p {
        margin: 0em;
        padding: 0em;
        margin-top: 1em;
        font-size: 8em;
        padding-top: 1em;
        color: #212121;
        text-transform: uppercase;
        font-weight: 900;
        transition: all 0.5s;
        animation-name: position 2s;
    }

    article {
        font-size: 1em;
        margin-top: 0;
    }

    button {
        border-color: grey;
        padding: 0.5em 1em;
        border-radius: 15px;
        background-color: black;
        color: grey;
        animation: pulse 15s infinite;
        transition: all 5s;
    }

    .alinea {
        text-transform: lowercase;
        font-weight: 600;
        position: absolute;
        font-size: 1em;
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 36em;
        transition: all 1s ease-in;
    }

    .form-text {
        transition: all 2s ease;
        color: white;
        text-align: center;
        font-family: 1em;
        margin: 0em 5em;
    }
}

@media screen and (min-width: 60em) {

    body {
        background-color: black;
    }

    p {
        margin-top: 1em;
        transition: all 0.5s;
    }

    section {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-left: 20em;
        transition: all 5s;
    }

    article {
        animation: spin 2s ease;
        font-size: 1em;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        -webkit-transition: .4s;
        transition: all 5s;
        border-radius: 60px;
    }

    .slider:before {
        transition: all 2s ease;
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 6px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2B2B2B;
        filter: drop-shadow(0 0 0.4rem grey);
        padding-left: 1em;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .form-text {
        transition: all 2s ease;
        color: white;
        text-align: center;
        font-family: 1em;
        margin: 0em 20em;
    }
}

@media screen and (min-width: 80em) {

    body {
        background-color: red;
    }

    article {
        animation: spin 2s ease;
        margin-top: 0em;
    }

    @keyframes spin {
        0% {
            transform: rotate(360deg);
        }

        50% {
            transform: rotate(-150deg);
        }


        100% {
            transform: rotate(0deg);
        }
    }

    section p:hover {
        clip-path: circle(60%);
    }

    .form {
        transition: all 2s;
        background-color: black;
        padding-bottom: -5em;
        padding: 0.2em 2em 0.2em;
    }

    .form-label {
        opacity: 30%;
        transition: all 5s;
        animation: colorlabel 15s ease;
    }

    .form-label:hover {
        opacity: 100%;
        transition: all 0.5s;
        cursor: pointer;
    }

    @keyframes colorlabel {
        0% {
            opacity: 100%
        }

        80% {
            opacity: 100%
        }

        100% {
            opacity: 30%
        }
    }

    .form-text {
        position: absolute;
        transition: all 1s;
        opacity: 0%;
        background-color: black;
    }

    .each {
        opacity: 100%;
        transition: all 1s ease;
    }

    .keyboard-text {
        position: relative;
        opacity: 100%;
        padding: 0.2em 0.2em;
        animation: background-color-text 5s ease;
    }

    @keyframes background-color-text {
        0% {
            background-color: black;
        }

        10% {
            background-color: red;
        }

        20% {
            background-color: black;
        }

        30% {
            background-color: red;
        }

        40% {
            background-color: black;
        }

        50% {
            background-color: red;
        }

        60% {
            background-color: black;
        }

        70% {
            background-color: red;
        }

        80% {
            background-color: black;
        }

        90% {
            background-color: red;
        }

        100% {
            background-color: black;
        }
    }
}

@media screen and (min-width: 100em) {

    body {
        background-color: red;
    }

    p {
        margin-top: 1em;
        font-size: 12em;
        transition: all 0.5s;
    }

    section {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 0em;
        margin-left: 30em;
        transition: all 2s;
    }

    .alinea {
        text-transform: lowercase;
        font-weight: 600;
        position: absolute;
        font-size: 1em;
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 42em;
        transition: all 1s ease-in;
    }

    .each {
        opacity: 100%;
        transition: 1s ease;
    }

    .keyboard-text {
        position: relative;
        opacity: 100%;
        padding: 0.2em 0.2em;
        animation: background-color-text 10s ease;
    }

    @keyframes background-color-text {
        0% {
            background-color: black;
        }

        10% {
            background-color: red;
        }

        20% {
            background-color: black;
        }

        30% {
            background-color: red;
        }

        40% {
            background-color: black;
        }

        50% {
            background-color: red;
        }

        60% {
            background-color: black;
        }

        70% {
            background-color: red;
        }

        80% {
            background-color: black;
        }

        90% {
            background-color: red;
        }

        100% {
            background-color: black;
        }
    }

}
